<div class="row about">
    <div class="col-xs-12 col-md-6 col-xl-6 about-image">
        <img src="./assets/img/about-image.png" alt="about-image">
    </div>
    <div class="col-xs-12 col-md-6 col-xl-6 about-content">
        <div class="about-content_heading">
            <h3>About us</h3>
            <div class="about-content_title">
                <p> We Believe in Working Accredited Farmers </p>
            </div>
        </div>
        <div class="about-content_body">
            <p>Simply dummy text of the printing and typesetting industry. Lorem had ceased to been the
                industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
        </div>
        <div class="about-points">
            <div class="about-points_1 mb-3 d-flex flex-row align-items-center">
                <div class="points-1_icon">
                    <img src="./assets/img/icon1.png" alt="icon1">
                </div>
                <div class="points-1_content ms-3">
                    <div class="points1-content_title">
                        <p> Organic Foods Only </p>
                    </div>
                    <div class="points1-content_body">
                        <p> Simply dummy text of the printing and typesetting industry. Lorem Ipsum </p>
                    </div>
                </div>
            </div>
            <div class="about-points_2 mb-3 d-flex flex-row align-items-center">
                <div class="points-2_icon">
                    <img src="./assets/img/icon2.png" alt="icon2">
                </div>
                <div class="points-2_content ms-3">
                    <div class="points2-content_title">
                        <p> Quality Standards </p>
                    </div>
                    <div class="points2-content_body">
                        <p> Simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-button">
            <button class="btn">Shop Now <i class="bi bi-arrow-right-short"></i></button>
        </div>
    </div>
</div>