<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item banner active" data-bs-interval="10000">
            <img class="d-block  w-100" src="./assets/img/Background.jpg" alt="Background">
            <div class="banner-content carousel-caption">
                <i class="banner-content_title">
                    100% Natural Food
                </i>
                <div class="banner-content_body">
                    <p>Choose the best healthier way</p>
                    <p> of life </p>
                </div>
                <div class="banner-content_button">
                    <button class="btn">Explore Now <i class="bi bi-arrow-right-short"></i></button>
                </div>
            </div>
        </div>
        <div class="carousel-item banner" data-bs-interval="2000">
            <img class="d-block  w-100" src="./assets/img/Raspberry.png" alt="Background">
            <div class="banner-content carousel-caption">
                <i class="banner-content_title">
                    100% Natural Food
                </i>
                <div class="banner-content_body">
                    <p>Choose the best healthier way</p>
                    <p> of life </p>
                </div>
                <div class="banner-content_button">
                    <button class="btn">Explore Now <i class="bi bi-arrow-right-short"></i></button>
                </div>
            </div>
        </div>
        <div class="carousel-item banner">
            <img class="d-block  w-100" src="./assets/img/research-organic.png" alt="Background">
            <div class="banner-content carousel-caption">
                <i class="banner-content_title">
                    100% Natural Food
                </i>
                <div class="banner-content_body">
                    <p>Choose the best healthier way</p>
                    <p> of life </p>
                </div>
                <div class="banner-content_button">
                    <button class="btn">Explore Now <i class="bi bi-arrow-right-short"></i></button>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
