<div class="blogs-layout d-flex flex-row justify-content-between align-items-end">
    <div class="blogs-text_heading">
        <div class="blogs-text_title">
            News
        </div>
        <div class="blogs-text_body">
            Discover weekly content about organic food, & more
        </div>
    </div>
    <div class="blogs-button">
        <button class="btn">More News <i class="bi bi-arrow-right-short"></i></button>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="blog-image">
            <div class="blog-date">
                <span>25 Nov</span>
            </div>
            <img src="./assets/img/blog-vegetable.png" alt="blog-vegetable">
            <div class="blog-text">
                <div class="blog-text_content">
                    <div class="blog-content_admin d-flex flex-row align-items-center">
                        <img src="./assets/img/admin.png" alt="admin">
                        <p>By Rachi Card</p>
                    </div>
                    <div class="blog-content_body">
                        <div class="blog-content_body_title">
                            <p>The Benefits of Vitamin D & How to Get It</p>
                        </div>
                        <div class="blog-content_body_description">
                            <p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                        </div>
                        <div class="blog-content_body_button">
                            <button>Read More <i class="bi bi-arrow-right-short"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="blog-image">
            <div class="blog-date">
                <span>25 Nov</span>
            </div>
            <img src="./assets/img/blog-tomato.png" alt="blog-tomato">
            <div class="blog-text">
                <div class="blog-text_content">
                    <div class="blog-content_admin d-flex flex-row align-items-center">
                        <img src="./assets/img/admin.png" alt="admin">
                        <p>By Rachi Card</p>
                    </div>
                    <div class="blog-content_body">
                        <div class="blog-content_body_title">
                            <p>The Benefits of Vitamin D & How to Get It</p>
                        </div>
                        <div class="blog-content_body_description">
                            <p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                        </div>
                        <div class="blog-content_body_button">
                            <button>Read More <i class="bi bi-arrow-right-short"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>