<div class="testimonial position-relative">
    <div class="counter-background">
        <img src="./assets/img/counter.png" alt="counter">
        <div class="testimonial-content position-absolute top-50 start-50 translate-middle">
            <div class="testimonial-content_heading">
                <div class="testimonial-content_title">
                    Testimonial
                </div>
                <div class="testimonial-content_body">
                    What Our Customer Saying?
                </div>
            </div>
            <div class="testimonial-content_review">
                <img src="./assets/img/customer.jpg" alt="customer">
                <div class="testimonial-content_review_content">
                    <img src="./assets/img/start.jpg" alt="start">
                    <div class="testimonial-content_review_decription">
                        <p> Simply dummy text of the printing and typesetting industry. Lorem Ipsum simply
                            dummy
                            text of
                            the printing and typesetting industry. Lorem Ipsum has been.</p>
                    </div>
                </div>
                <div class="testimonial-review_name">
                    <div class="review-name">
                        Sara Taylor
                    </div>
                    <div class="review-position">
                        Consumer
                    </div>
                </div>
            </div>
            <hr>
            <div class="testimonial-counters">
                <div class="row">
                    <div class="col-3">
                        <div class="circle">
                            <div class="counter-title">
                                100%
                            </div>
                            <div class="counter-body">
                                Organic
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="circle">
                            <div class="counter-title">
                                285
                            </div>
                            <div class="counter-body">
                                Active Product
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="circle">
                            <div class="counter-title">
                                350+
                            </div>
                            <div class="counter-body">
                                Organic Orchads
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="circle">
                            <div class="counter-title">
                                25+
                            </div>
                            <div class="counter-body">
                                Year of Farming
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>