<div class="container footer-container">
    <div class="row footer">
        <div class="col-xl-3 col-md-3 col-xs-12 p-0">
            <div class="footer-contact">
                <div class="footer-contact_title">
                    <p>Contact Us</p>
                </div>
                <div class="footer-contact_body">
                    <div class="footer-contact_contact">
                        <span>Email</span> <br> needhelp@Organia.com <br>
                    </div>
                    <div class="footer-contact_contact">
                        <span>Phone</span> <br> 666 888 888 <br>
                    </div>
                    <div class="footer-contact_contact">
                        <span>Address</span> <br> 88 road, borklyn street, USA
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="col-xl-6 col-md-6 col-xs-12 p-0 footer-organick_layout">
            <div class="footer-organick text-center">
                <div class="footer-organick_title">
                    <img src="./assets/img/Logo.png" alt="Logo">
                </div>
                <div class="footer-organick_body">
                    Simply dummy text of the printing and typesetting industry. Lorem Ipsum simply dummy
                    text of the
                    printing
                    <div class="footer-organick_body_follow d-flex flex-row justify-content-evenly mt-4">
                        <img src="./assets/img/Insta.png" alt="Insta">
                        <img src="./assets/img/Fb.png" alt="Fb">
                        <img src="./assets/img/Twiter.png" alt="Twiter">
                        <img src="./assets/img/Pintrest.png" alt="Pintrest">
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="col-xl-3 col-md-3 col-xs-12 p-0 footer-page_layout">
            <div class="footer-page">
                <div class="footer-page_title">
                    Utility Pages
                </div>
                <div class="footer-page_body">
                    Style Guide <br>
                    404 Not Found <br>
                    Password Protected <br>
                    Licences Changelog
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row footer-copyright">
        <div class="col-12">
            <hr>
            <div class="footer-copyright_content text-center">
                Copyright © <i>Organick</i> | Designed by <i>VictorFlow</i> Templates - Powered by
                <i>Webflow</i>
            </div>
        </div>
    </div>
</div>