<form action="#" name="myForm" id="myForm" onSubmit="validateForm(event)" method="post">
    <div class="row row-1">
        <div class="col-6">
            <div class="form-group">
                <label for="fname">Full Name*</label><br>
                <input type="text" id="fname" name="fname" class="form-control" placeholder="Your Full Name">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="email">Your Email*</label><br>
                <input type="text" id="email" name="email" class="form-control" placeholder="example@youremail.com">
            </div>
        </div>
    </div>
    <div class="row row-2">
        <div class="col-6">
            <div class="form-group">
                <label for="company">Company*</label><br>
                <input type="text" id="company" name="company" class="form-control" placeholder="yourcompany name here">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="subject">Subject*</label><br>
                <input type="text" id="subject" name="subject" class="form-control" placeholder="how can we help">
            </div>
        </div>
    </div>
    <div class="row row-3">
        <div class="col-6">
            <div class="form-group">
                <label for="age">Age*</label><br>
                <input type="text" id="age" name="age" class="form-control" placeholder="your age here">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="phone">Phone Number*</label><br>
                <input type="text" id="phone" name="phone" class="form-control" placeholder="your phone number here">
            </div>
        </div>
    </div>
    <div class="row row-4">
        <div class="col-12">
            <div class="form-group">
                <label for="message">Message*</label><br>
                <textarea type="text" name="message" id="message" class="form-control"
                    placeholder="hello there, i would like to talk about how to ..."></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <button type="submit" class="btn">Send Message</button>
        </div>
    </div>
</form>