<div class="gallery">
    <div class="row gallery-layout w-100 m-0">
        <div class="col-xl-4 col-md-4 col-xs-12 gallery-col p-0">
            <img src="./assets/img/organicjuice.jpg" alt="organicjuice">
            <div class="gallery-text">
                <p>Organic Juice</p>
            </div>
        </div>
        <div class="col-xl-4 col-md-4 col-xs-12 text-center gallery-col p-0">
            <img src="./assets/img/organicfood.jpg" alt="organicfood">
            <div class="gallery-text">
                <p>Organic Food</p>
            </div>
        </div>
        <div class="col-xl-4 col-md-4 col-xs-12 gallery-col text-end p-0">
            <img src="./assets/img/nutscookis.jpg" alt="nutscookis">
            <div class="gallery-text">
                <p>Nuts Cookis</p>
            </div>
        </div>
    </div>
</div>