<div class="row info-layout">
    <div class="col-xl-6 col-md-6 col-sm-12 background">
        <img src="./assets/img/contact-info-image.png" alt="contact-info-image">
    </div>
    <div class="col-xl-6 col-md-6 col-sm-12">
        <div class="info-content">
            <div class="info-content_title">
                <p>We'd love to talk about how we can work together.</p>
                <div class="info-content_text">
                    <p>Simply dummy text of the printing and typesetting industry. Lorem had ceased to
                        been the industry's standard dummy text ever since the 1500s, when an unknown
                        printer
                        took a galley.</p>
                </div>
            </div>
            <div class="info-content_point">
                <div class="about-points_1 mb-3 d-flex flex-row align-items-center">
                    <div class="points-1_icon">
                        <img src="./assets/img/message.png" alt="icon1">
                    </div>
                    <div class="points-1_content ms-3">
                        <div class="points1-content_title">
                            <p> Message </p>
                        </div>
                        <div class="points1-content_body">
                            <p> support@organic.com </p>
                        </div>
                    </div>
                </div>
                <div class="about-points_2 mb-3 d-flex flex-row align-items-center">
                    <div class="points-2_icon">
                        <img src="./assets/img/phone.png" alt="icon2">
                    </div>
                    <div class="points-2_content ms-3">
                        <div class="points2-content_title">
                            <p> Contact Us </p>
                        </div>
                        <div class="points2-content_body">
                            <p> +01 123 456 789 </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="social-network d-flex flex-row">
                <img class="m-0" src="./assets/img/Insta.png" alt="Insta">
                <img src="./assets/img/Fb.png" alt="Fb">
                <img src="./assets/img/Twiter.png" alt="Twiter">
                <img src="./assets/img/Pintrest.png" alt="Pintrest">
            </div>
        </div>
    </div>
</div>