<div class="location-background">
    <img src="./assets/img/contact-location-background.png" alt="contact-location-background">
    <div class="location-content d-none d-md-block">
        <div class="location-content_title">
            <div class="location-content_heading">
                <p>Location</p>
            </div>
            <div class="location-content_body">
                <p>Our Farms</p>
            </div>
            <div class="location-content_text">
                <p>Established fact that a reader will be distracted by the readable content of a page when
                    looking a layout. The point of using.</p>
            </div>
        </div>
        <div class="location-address">
            <div class="about-points_1 mb-3 d-flex flex-row align-items-start">
                <div class="points-1_icon">
                    <img src="./assets/img/location.png" alt="location">
                </div>
                <div class="points-1_content ms-3">
                    <div class="points1-content_title">
                        <p> New York, USA: </p>
                    </div>
                    <div class="points1-content_body">
                        <p> 299 Park Avenue New York,
                            New York 10171 </p>
                    </div>
                </div>
            </div>
            <div class="about-points_2 mb-3 d-flex flex-row align-items-start">
                <div class="points-2_icon">
                    <img src="./assets/img/location.png" alt="location">
                </div>
                <div class="points-2_content ms-3">
                    <div class="points2-content_title">
                        <p> London, UK: </p>
                    </div>
                    <div class="points2-content_body">
                        <p> 30 Stamford Street,
                            London SE1 9LQ </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="location-content d-block d-md-none">
    <div class="location-content_title">
        <div class="location-content_heading">
            <p>Location</p>
        </div>
        <div class="location-content_body">
            <p>Our Farms</p>
        </div>
        <div class="location-content_text">
            <p>Established fact that a reader will be distracted by the readable content of a page when
                looking a layout. The point of using.</p>
        </div>
    </div>
    <div class="location-address">
        <div class="about-points_1 mb-3 d-flex flex-row align-items-start">
            <div class="points-1_icon">
                <img src="./assets/img/location.png" alt="location">
            </div>
            <div class="points-1_content ms-3">
                <div class="points1-content_title">
                    <p> New York, USA: </p>
                </div>
                <div class="points1-content_body">
                    <p> 299 Park Avenue New York,
                        New York 10171 </p>
                </div>
            </div>
        </div>
        <div class="about-points_2 mb-3 d-flex flex-row align-items-start">
            <div class="points-2_icon">
                <img src="./assets/img/location.png" alt="location">
            </div>
            <div class="points-2_content ms-3">
                <div class="points2-content_title">
                    <p> London, UK: </p>
                </div>
                <div class="points2-content_body">
                    <p> 30 Stamford Street,
                        London SE1 9LQ </p>
                </div>
            </div>
        </div>
    </div>
</div>