<div class="row w-100 newslatteer-row">
    <div class="col-12 newslatteer">
        <img src="./assets/img/newslateer.jpg" alt="newslateer">
        <div class="newslatteer-content d-flex flex-row align-items-center justify-content-between">
            <div class="newslatteer-content_heading">
                <p>Subscribe to our Newsletter</p>
            </div>
            <div class="newslatteer-content_button d-flex flex-row justify-content-start">
                <div class="newslatteer-content_mail">
                    <input type="text" placeholder="Your Email Address">
                </div>
                <div class="newslatteer-content_submit">
                    <button class="btn">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</div>