<div class="offer-background">
    <div class="offer-layout d-flex flex-row justify-content-around align-items-center">
        <div class="offer-text">
            <div class="offer-text_title">
                Offer
            </div>
            <div class="offer-text_heading">
                We Offer Organic For You
            </div>
        </div>
        <div class="offer-button">
            <button>View All Product <i class="bi bi-arrow-right-short"></i></button>
        </div>
    </div>
    <div class="container">
        <div class="row offer-row">
            <div class="col-xl-3 col-md-6 col-xs-12 offer-categories">
                <div class="product-tag">
                    Vegetable
                </div>
                <div class="product-image">
                    <img src="./assets/img/mungbean.png" alt="mungbean">
                </div>
                <div class="product-content">
                    <div class="product-content_name">
                        Mung Bean
                    </div>
                    <hr>
                    <div class="product-rating d-flex flex-row justify-content-between">
                        <div class="product-price d-flex flex-row">
                            <span class="product-price_old">
                                $20.00
                            </span>
                            <div class="product-price_new">
                                $11.00
                            </div>
                        </div>
                        <div class="product-start">
                            <img src="./assets/img/start.jpg" alt="start">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-xs-12 offer-categories">
                <div class="product-tag">
                    Vegetable
                </div>
                <div class="product-image">
                    <img src="./assets/img/hazeinuts.png" alt="hazeinuts">
                </div>
                <div class="product-content">
                    <div class="product-content_name">
                        Brown HazeInut
                    </div>
                    <hr>
                    <div class="product-rating d-flex flex-row justify-content-between">
                        <div class="product-price d-flex flex-row">
                            <span class="product-price_old">
                                $20.00
                            </span>
                            <div class="product-price_new">
                                $12.00
                            </div>
                        </div>
                        <div class="product-start">
                            <img src="./assets/img/start.jpg" alt="start">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-xs-12 offer-categories">
                <div class="product-tag">
                    Vegetable
                </div>
                <div class="product-image">
                    <img src="./assets/img/onion.png" alt="onion">
                </div>
                <div class="product-content">
                    <div class="product-content_name">
                        Onion
                    </div>
                    <hr>
                    <div class="product-rating d-flex flex-row justify-content-between">
                        <div class="product-price d-flex flex-row">
                            <span class="product-price_old">
                                $20.00
                            </span>
                            <div class="product-price_new">
                                $17.00
                            </div>
                        </div>
                        <div class="product-start">
                            <img src="./assets/img/start.jpg" alt="start">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 offer-categories">
                <div class="product-tag">
                    Vegetable
                </div>
                <div class="product-image">
                    <img src="./assets/img/cabbage.png" alt="cabbage">
                </div>
                <div class="product-content">
                    <div class="product-content_name">
                        Cabbage
                    </div>
                    <hr>
                    <div class="product-rating d-flex flex-row justify-content-between">
                        <div class="product-price d-flex flex-row">
                            <span class="product-price_old">
                                $20.00
                            </span>
                            <div class="product-price_new">
                                $17.00
                            </div>
                        </div>
                        <div class="product-start">
                            <img src="./assets/img/start.jpg" alt="start">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>