<div class="row offer-banner">
    <div class="col-xl-6 col-md-6 col-xs-12 my-2 px-4">
        <div class="offer-banner_1">
            <img src="./assets/img/offer-banner1.png" alt="offer-banner1">
            <div class="offer-banner_text">
                <div class="banner-1_title">
                    Natural!!
                </div>
                <div class="banner-1_body">
                    Get Garden Fresh Fruits
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-6 col-xs-12 my-2 px-4">
        <div class="offer-banner_2">
            <img src="./assets/img/offer-banner2.png" alt="offer-banner2">
            <div class="offer-banner_text">
                <div class="banner-2_title">
                    Offer!!
                </div>
                <div class="banner-2_body">
                    Get 10% off on Vegetables
                </div>
            </div>
        </div>
    </div>
</div>