<div class="shop-heading">
    <div class="shop-heading_title text-center">
        Categories
    </div>
    <div class="shop-heading_body text-center">
        Our Products
    </div>
</div>
<div class="shop-product">
    <div class="row d-none d-md-flex">
        <div class="col-xl-3 col-md-6 col-xs-12 categories-product">
            <div class="product-tag">
                Vegetable
            </div>
            <div class="product-image">
                <img src="./assets/img/vegetable.png" alt="vegetable">
            </div>
            <div class="product-content">
                <div class="product-content_name">
                    Calabrese Broccoli
                </div>
                <hr>
                <div class="product-rating d-flex flex-row">
                    <div class="product-price d-flex flex-row">
                        <span class="product-price_old">
                            $20.00
                        </span>
                        <div class="product-price_new">
                            $13.00
                        </div>
                    </div>
                    <div class="product-start">
                        <img src="./assets/img/start.jpg" alt="start">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 col-xs-12 categories-product">
            <div class="product-tag">
                Fresh
            </div>
            <div class="product-image">
                <img src="./assets/img/fresh.png" alt="fresh">
            </div>
            <div class="product-content">
                <div class="product-content_name">
                    Fresh Banana Fruites
                </div>
                <hr>
                <div class="product-rating d-flex flex-row">
                    <div class="product-price d-flex flex-row">
                        <span class="product-price_old">
                            $20.00
                        </span>
                        <div class="product-price_new">
                            $14.00
                        </div>
                    </div>
                    <div class="product-start">
                        <img src="./assets/img/start.jpg" alt="start">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 col-xs-12 categories-product">
            <div class="product-tag">
                Millets
            </div>
            <div class="product-image">
                <img src="./assets/img/millets.png" alt="millets">
            </div>
            <div class="product-content">
                <div class="product-content_name">
                    White Nuts
                </div>
                <hr>
                <div class="product-rating d-flex flex-row">
                    <div class="product-price d-flex flex-row">
                        <span class="product-price_old">
                            $20.00
                        </span>
                        <div class="product-price_new">
                            $15.00
                        </div>
                    </div>
                    <div class="product-start">
                        <img src="./assets/img/start.jpg" alt="start">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 col-xs-12 categories-product">
            <div class="product-tag">
                Vegetable
            </div>
            <div class="product-image">
                <img src="./assets/img/tomato.png" alt="tomato">
            </div>
            <div class="product-content">
                <div class="product-content_name">
                    Vegan Red Tomato
                </div>
                <hr>
                <div class="product-rating d-flex flex-row">
                    <div class="product-price d-flex flex-row">
                        <span class="product-price_old">
                            $20.00
                        </span>
                        <div class="product-price_new">
                            $17.00
                        </div>
                    </div>
                    <div class="product-start">
                        <img src="./assets/img/start.jpg" alt="start">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row w-100">
        <div class="col-xl-3 col-md-6 col-xs-12 categories-product">
            <div class="product-tag">
                Health
            </div>
            <div class="product-image">
                <img src="./assets/img/health.png" alt="health">
            </div>
            <div class="product-content">
                <div class="product-content_name">
                    Mung Bean
                </div>
                <hr>
                <div class="product-rating d-flex flex-row">
                    <div class="product-price d-flex flex-row">
                        <span class="product-price_old">
                            $20.00
                        </span>
                        <div class="product-price_new">
                            $11.00
                        </div>
                    </div>
                    <div class="product-start">
                        <img src="./assets/img/start.jpg" alt="start">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 col-xs-12 categories-product">
            <div class="product-tag">
                Nuts
            </div>
            <div class="product-image">
                <img src="./assets/img/nuts.png" alt="nuts">
            </div>
            <div class="product-content">
                <div class="product-content_name">
                    Brown HazeInut
                </div>
                <hr>
                <div class="product-rating d-flex flex-row">
                    <div class="product-price d-flex flex-row">
                        <span class="product-price_old">
                            $20.00
                        </span>
                        <div class="product-price_new">
                            $12.00
                        </div>
                    </div>
                    <div class="product-start">
                        <img src="./assets/img/start.jpg" alt="start">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 col-xs-12 categories-product">
            <div class="product-tag">
                Fresh
            </div>
            <div class="product-image">
                <img src="./assets/img/eggs.png" alt="eggs">
            </div>
            <div class="product-content">
                <div class="product-content_name">
                    Eggs
                </div>
                <hr>
                <div class="product-rating d-flex flex-row">
                    <div class="product-price d-flex flex-row">
                        <span class="product-price_old">
                            $20.00
                        </span>
                        <div class="product-price_new">
                            $17.00
                        </div>
                    </div>
                    <div class="product-start">
                        <img src="./assets/img/start.jpg" alt="start">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 col-xs-12 categories-product">
            <div class="product-tag">
                Fresh
            </div>
            <div class="product-image">
                <img src="./assets/img/rusk.png" alt="rusk">
            </div>
            <div class="product-content">
                <div class="product-content_name">
                    Zelco Suji Elaichi Rusk
                </div>
                <hr>
                <div class="product-rating d-flex flex-row">
                    <div class="product-price d-flex flex-row">
                        <span class="product-price_old">
                            $20.00
                        </span>
                        <div class="product-price_new">
                            $15.00
                        </div>
                    </div>
                    <div class="product-start">
                        <img src="./assets/img/start.jpg" alt="start">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="shop-button">
    <button>Load More <i class="bi bi-arrow-right-short"></i></button>
</div>