<div class="row whoweare m-0">
    <div class="col-xl-6 col-md-6 col-xs-12 layout p-0">
        <img src="./assets/img/whoweare.jpg" alt="whoweare">
    </div>
    <div class="col-xl-6 col-md-6 col-xs-12 background">
        <div class="whoweare-layout_content">
            <div class="layout-content_heading">
                <div class="layout-content_title">
                    Eco Friendly
                </div>
                <div class="layout-content_body">
                    Econis is a Friendly Organic Store
                </div>
            </div>
            <div class="layout-content_point">
                <div class="content-point">
                    <div class="content-point_title">
                        Start with Our Company First
                    </div>
                    <div class="content-point_body">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium
                        doloremque laudantium. Sed ut perspiciatis.
                    </div>
                </div>
                <div class="content-point">
                    <div class="content-point_title">
                        Learn How to Grow Yourself
                    </div>
                    <div class="content-point_body">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium
                        doloremque laudantium. Sed ut perspiciatis.
                    </div>
                </div>
                <div class="content-point">
                    <div class="content-point_title">
                        Farming Strategies of Today
                    </div>
                    <div class="content-point_body">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium
                        doloremque laudantium. Sed ut perspiciatis.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>