$heading-color: #274C5B;
$heading-font-family: 'Roboto', sans-serif;

$text-font: 'Open Sans', sans-serif;
$text-color: #525C60;

$title-color: #68A47F;
$title-font-family:  'Yellowtail', cursive;
$title-font-style: normal;
$title-font-weight: 400;
$title-font-size: 36px;
$title-line-height: 49px;